<title><%=title%></title>
<meta name="description" content="Merhaba Bloguma hoş geldiniz! Burada sizlerle bazı bilgiler hakkında konuşacağız.">
<meta name="google-site-verification" content="OVURnGu8cj0u0OH6_ErtePcXC2bLCrWpoGnwoW9ThjI" />
<meta name="keywords" content="trugedrop,blog,eren,javascript,nodejs,python,go">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="Turkish">
<meta name="author" content="TrugeDrop">
<meta name="theme-color" content="#0E1525">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="apple-touch-icon" href="/img/trugedrop.ico">
<link rel="icon" type="image/x-icon" href="/img/trugedrop.ico">
<script src="/src/js/main.js"></script>
<link href="/src/css/tailwind-styles.css" rel="stylesheet">
<script src="/src/js/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/src/css/style.css">

<link rel="manifest" href="/src/manifest.json">