<style>
    .description {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: -.02em;
        color: #666;
        margin: 0 0 40px;
    }
</style>

<div class="main mt-5 m-auto">
    <h1 class="title text-center">Hakkımda</h1>
    <div class="description text-center">
        Öncelikle Merhaba! Ben TrugeDrop, bir back-end developer, front-end developer ya da kısaca full-stack developer.
        <br>
        Sizlere yardımcı olabilmek veya katkıda bulunabilmek için bu blog'u açtım. Benimde zamanında çok merak ettiğim ve aradığım bilgiler oldu bunları sizlere zamanım oldukça anlatamaya çalışacağım.
    </div>
</div>